<mat-grid-list cols="4" rowHeight="2:1">
  <ng-container *ngFor="let product of products">
    <mat-grid-tile>
      <mat-card class="card-style">
        <mat-card-title>
          {{product.productName}}
        </mat-card-title>
        <mat-card-subtitle>
          {{product.description}}
        </mat-card-subtitle>
        <mat-card-content>
          {{product.productSupplier.name}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="addProduct(product)">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
<mat-paginator #paginator [pageIndex]="page"
               [length]="totalElements"
               [pageSize]="pageSize"
               [hidePageSize]="true"
               class="paginator-align"
               (page)="changePage($event)"></mat-paginator>




