<h4 mat-dialog-title><b>Informatii comanda nr {{order.orderNumber}}</b></h4>
<div mat-dialog-content>
  <mat-list role="list">
    <ng-container *ngFor="let product of order.products; let i = index">
      <mat-list-item role="listitem">{{i + 1}}. <b>Nume produs:</b> {{product.productName}}, <b>Pret
        produs:</b> {{product.price}} lei
      </mat-list-item>
    </ng-container>
  </mat-list>
  <div mat-dialog-actions>
    <h4><b>
      Adresa de livrare: {{order.deliveryAddress}}
    </b></h4>
  </div>
</div>
