<mat-toolbar>
  <div *ngIf="authService.currentCustomerValue?.authority === Authorization.CUSTOMER; else ADMIN_TEMPLATE">

    <button mat-button [routerLink]="'/welcome'">
      <mat-icon>home</mat-icon>
      Acasa
    </button>

    <button mat-button style="padding-left: 15px" [routerLink]="'/customer/profile'">
      <mat-icon>person</mat-icon>
      Profil
    </button>
    <button mat-button [routerLink]="'/customer/products'">
      <mat-icon>store</mat-icon>
      Produse
    </button>
  </div>
  <div class="cart-button" *ngIf="authService.currentCustomerValue?.authority === Authorization.CUSTOMER">
    <button mat-button [routerLink]="'/customer/cart'">
      <mat-icon matBadge="{{storeStateService.getCartState()?.numberOfProducts}}">shopping_basket</mat-icon>
    </button>
  </div>
  <div class="logout_button">
    <button mat-button (click)="authService.logOut()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>

<ng-template #ADMIN_TEMPLATE>
  <button mat-button style="padding-left: 15px" [routerLink]="'/admin/warehouse'">
    <mat-icon>location_on</mat-icon>
    Depozite
  </button>
  <button mat-button style="padding-left: 15px" [routerLink]="'/admin/supplier'">
    <mat-icon>local_shipping</mat-icon>
    Furnizori
  </button>

  <button mat-button style="padding-left: 15px" [routerLink]="'/admin/products'">
    <mat-icon>store</mat-icon>
    Produse
  </button>
  <div class="logout_button">
    <button mat-button (click)="authService.logOut()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</ng-template>
